include "dms/alttab.kdl"
// include "dms/binds.kdl"      // user/binds.kdl
include "dms/colors.kdl"        // colors first so later layout can override
include "dms/cursor.kdl"
// include "dms/layout.kdl"     // user/theme.kdl
include "dms/outputs.kdl"
include "dms/windowrules.kdl"

include "user/autostart.kdl"
include "user/binds.kdl"
include "user/inputs.kdl"
include "user/hardware.kdl"
include "user/misc.kdl"
include "user/dms-integration.kdl"
include "user/theme.kdl"