// The lower you place the line, the more priority that file has. 
// By default, user files are placed below

include "dms/alttab.kdl"
include "dms/binds.kdl"
include "dms/colors.kdl"
include "dms/cursor.kdl"
include "dms/input.kdl"
include "dms/layout.kdl"
include "dms/outputs.kdl"
include "dms/windowrules.kdl"
include "dms/wpblur.kdl"

include "user/autostart.kdl"
include "user/binds.kdl"
include "user/inputs.kdl"
include "user/hardware.kdl"
include "user/misc.kdl"
include "user/theme.kdl"

// Program specific modules
include "user/fcitx5.kdl"
include "user/openwhispr.kdl" // keep after theme.kdl so its specific theme overrides apply
