// Debug (experimental) options
// More info: https://github.com/niri-wm/niri/wiki/Configuration:-Debug-Options
debug {
    // Problem: Niri lag
    // Solution: Explicitly use iGPU for rendering Niri. 
    //
    // 1. `cardwire list` and find the RENDER for you iGPU
    // 2. Uncomment the line below and replace "renderD128" with your path
    //    if different. 
    //
    // ▿▿▿▿▿▿▿▿▿▿▿▿▿▿▿▿▿▿▿▿▿▿▿▿▿▿▿▿▿▿▿▿▿▿▿▿▿▿▿
    // render-drm-device "/dev/dri/renderD128"

    // Problem: flickering / artifacts in dGPU + iGPU setup
    // Solutions: 
    //     1. (Recommended for laptops) Use the option below & set
    //        `render-drm-device` to iGPU.
    //         + Pro: Allows you to keep power usage low by using iGPU.
    //         - Con: Introduces a latency (that you may or may not notice).
    //     2. Ignore the option below and set `render-drm-device` to dGPU.
    //
    // ▿▿▿▿▿▿▿▿▿▿▿▿▿▿▿▿▿▿▿▿▿▿▿▿▿▿▿▿▿▿▿▿▿▿▿▿▿▿▿▿▿
    // wait-for-frame-completion-before-queueing

}