// Some sane defaults

input {
    keyboard {
        numlock
    }

    touchpad {
        tap                                 // tap to click
        natural-scroll                      // content follows fingers
        dwt                                 // disable touchpad while typing
        click-method "clickfinger"          // 1 finger=left, 2=right, 3=middle
        tap-button-map "left-right-middle"  // 1=left, 2=right, 3=middle
    }

    mouse {
        accel-profile "flat"                // no mouse acceleration
    }

    // Hyprland-style: hover to focus & cursor jumps with keyboard focus
    focus-follows-mouse max-scroll-amount="25%"      // focus follows mouse
    warp-mouse-to-focus                              // move cursor to focus
}

clipboard {
    disable-primary    // disable select to copy & middle-click paste
}

cursor {
    // hide-when-typing
}