screenshot-path "~/Pictures/Screenshots/Screenshot From %Y-%m-%d %H-%M-%S.png"

hotkey-overlay {
    skip-at-startup
}

environment {
    ELECTRON_OZONE_PLATFORM_HINT "auto" // Tell Electron apps to use Wayland when possible
    QT_QPA_PLATFORM "wayland;xcb"       // Tell QT apps to use Wayland, fallback to X11
    NIXOS_OZONE_WL "1"                  // Tell Nix apps to use Wayland when possible
}