//
// Some look-related things that DMS doesn't manage
//

prefer-no-csd // disables client-side decors

window-rule {
    background-effect {
        blur true    // blur for transparent windows (xray default)
    }
}

// Minimalistic overview blur
layer-rule {
    match namespace="^quickshell$"
    place-within-backdrop true
}